.Listings {
  background: palevioletred;
  text-align: center;
  color: white;
  font-size: 15px;
  height: 50px;
  width: 30%;
  margin: 10px auto 10px auto;
  border-radius: 6px;
}

.FrenchyButton {
  margin-top: 10px;
}